/**
 * Global
 */

a {
  color: map-get($theme-colors, 'primary');
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}

.container{
  padding: 0 !important;
  max-width: 100% !important;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px !important;
  div{
    a.menu{
      img{
        width: 25px;
        height: 25px;
      }
    }
  }
  .nav-primary{
    .menu-main-menu-container{
      ul{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
        list-style: none;
        color: #0065f2;
        margin: 0
        li{
          margin-right: 20px;
        }
        li#menu-item-17{
          border-radius: 17px;
          border: none;
          padding: 5px 20px;
          background: #0065f2;
          a{
            color: white;
          }
        }
      }
    }
  }
}
// .banner-principal{
//   height: 100vh;
//   padding: 100px 10px;
//   justify-content: center;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background-color: #f2f8ff;
//   color:#0065F2;
//   p{
//     margin: 0;
//     font-size: 20px;
//     font-weight: 400;
//   }
//   h1{
//     margin: 20px 0;
//     font-size: 50px;
//     font-weight: bold;
//   }
// }

.collaboration{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  h5{
    font-size: 15px;
    font-weight: 400;
    color: #0065F2;
  }
  .collaboration-logos{
    display: flex;
    gap: 50px;
    img{
      object-fit: contain;
    }
  }
}

.banner-accurate{
  height: 100vh;
  background-color: #0065F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
  }
  p{
    margin: 0;
    font-size: 15px;
    color: white;
    font-weight: 400;
  }
}

.who-we-are{
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span{
    font-size: 20px;
    font-weight: 600;
    color: #0065F2;
  }
  h1{
    font-size: 50px;
    font-weight: bold;
    color: #0065F2;
  }
  .information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .item{
      max-width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        font-size: 120px;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 1px #0065F2;
      }
      p{
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        color: #0065F2;
      }
    }
  }
}

.what-we-do{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f8ff;
  .title{
    padding: 50px;
    span{
      font-size: 20px;
      font-weight: 600;
      color: #0065F2;
      text-align: center;
    }
    h1{
      font-size: 50px;
      font-weight: bold;
      color: #0065F2;
    }
  }
  .satellite{
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    .number{
      border-right: 1px solid blue;
      width: 45%;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      span{
        font-size: 120px;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 1px #0065F2;
      }
    }
    .option{
      width: 55%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      p{
        width: 50%;
        font-size: 12px;
        font-weight: 300;
        color: #0065F2;
      }
      h1{
        font-size: 50px;
        font-weight: bold;
        color: #0065F2;
      }
    }
    .block-white{
      width: 450px;
      height: 350px;
      background-color: white;
      position: absolute;
      z-index: 0;
      left: 22%;
      top: 10%;
    }
  }
  .aircraft{
    width: 100%;
    height: 85vh;
    display: flex;
    position: relative;
    .divRight{
      border-left: 1px solid blue;
      width: 35%;
      height: 85vh;
      z-index: 1;
    }
    .option{
      width: 65%;
      height: 85vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 12%;
      z-index: 1;
      p{
        width: 80%;
        font-size: 12px;
        font-weight: 300;
        color: #0065F2;
      }
      h1{
        font-size: 50px;
        font-weight: bold;
        color: #0065F2;
      }
      .button{
        height: 35px;
        margin-left: 30px;
        border-radius: 17px;
        border: none;
        padding: 5px 20px;
        background: #0065f2;
        a{
          color: white;
        }
      }
      .number{
        span{
          font-size: 120px;
          font-weight: bold;
          color: transparent;
          -webkit-text-stroke: 1px #0065F2;
        }
      }
    }
    .block-white{
      width: 450px;
      height: 350px;
      background-color: white;
      position: absolute;
      z-index: 0;
      right: 17%;
      top: 20%;
    }
  }
}

.slider-story{
  background-color: white;
  width: 100%;
  height: 70vh;
  display: flex;
  .carousel{
    width: 55%;
    display: flex;
    align-items: center;
    .swiper-container {
      width: 80%;
      height: 70%;
      border: 1px solid blue;

    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  .story{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    p{
      font-size: 23px;
      font-weight: 600;
      color: #0065F2;
    }
    span{
      margin-top: 20px;
      font-size: 15px;
      font-weight: 500;
      color: #0065F2;
    }
    .button{
      width: 190px;
      height: 35px;
      margin-top: 20px;
      border-radius: 17px;
      border: none;
      padding: 5px 20px;
      background: #0065f2;
      a{
        color: white;
      }
    }
  }
}

.footer{
  .container{
    padding: 0;
    max-width: 100%;
    >div{
      padding: 50px 100px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      background-color: #0065F2;
      color: white;
      .logos{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .social-media{
          a{
            img{
              width: 30px;
              height: 30px;
              margin-right: 10px;
            }
          }
        }
      }
      .footer-links{
        display: flex;
        gap: 100px;
        ul{
          list-style: none;
          li{
            a{
              color: white;
            }
          }
        }
        div{
          span{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
      }
    }
  }
}
