/**
 * Global
 */

a {
  color: map-get($theme-colors, 'primary');
}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}

.container{
  padding: 0 !important;
  max-width: 100% !important;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px !important;
  div{
    a.menu{
      img{
        width: 25px;
        height: 25px;
      }
    }
  }
  .nav-primary{
    .menu-main-menu-container{
      ul{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
        list-style: none;
        color: #0065f2;
        margin: 0
        li{
          margin-right: 20px;
        }
        li#menu-item-17{
          border-radius: 17px;
          border: none;
          padding: 5px 20px;
          background: #0065f2;
          a{
            color: white;
          }
        }
      }
    }
  }
}

.banner-principal{
  height: 100vh;
  padding: 100px 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f8ff;
  color:#0065F2;
  p{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
  }
  h1{
    margin: 20px 0;
    font-size: 50px;
    font-weight: bold;
  }
}

.collaboration{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  h5{
    font-size: 15px;
    font-weight: 400;
    color: #0065F2;
  }
  .collaboration-logos{
    display: flex;
    gap: 50px;
    img{
      object-fit: contain;
    }
  }
}

.banner-accurate{
  height: 100vh;
  background-color: #0065F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
  }
  p{
    margin: 0;
    font-size: 15px;
    color: white;
    font-weight: 400;
  }
}

.who-we-are{
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span{
    font-size: 20px;
    font-weight: 600;
    color: #0065F2;
  }
  h1{
    font-size: 50px;
    font-weight: bold;
    color: #0065F2;
  }
  .information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .item{
      max-width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        font-size: 120px;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 1px #0065F2;
      }
      p{
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        color: #0065F2;
      }
    }
  }
}

.footer{
  .container{
    padding: 0;
    max-width: 100%;
    >div{
      padding: 50px 100px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      background-color: #0065F2;
      color: white;
      .logos{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .social-media{
          a{
            img{
              width: 30px;
              height: 30px;
              margin-right: 10px;
            }
          }
        }
      }
      .footer-links{
        display: flex;
        gap: 100px;
        ul{
          list-style: none;
          li{
            a{
              color: white;
            }
          }
        }
        div{
          span{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
      }
    }
  }
}
